.dockerignore
# there are valid reasons to keep the .git, namely so that you can get the
# current commit hash
#.git
.log
tmp

# Mix artifacts
_build
deps
*.ez
releases

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
node_modules

# Env files
.env
.env*.local
.env.dev
.env.prod

# Local files
/tmp
/.local
/priv/cache