<!-- Main column -->
<div class="flex flex-col w-0 flex-1 overflow-hidden">
  <.flash flash={@flash} kind={:info} />
  <.flash flash={@flash} kind={:error} />
  <.connection_status>
    Re-establishing connection...
  </.connection_status>

  <.live_component module={AlgoraWeb.LayoutComponent} id="layout" />

  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
    <%= @inner_content %>
  </main>
</div>
