<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix={assigns[:page_title] && " | Algora TV"}>
      <%= assigns[:page_title] || "Algora TV" %>
    </.live_title>

    <%= if assigns[:channel_handle] && assigns[:channel_name] && assigns[:channel_tagline] do %>
      <meta name="description" content={assigns[:channel_tagline]} />
      <meta
        name="twitter:image:src"
        content={"#{AlgoraWeb.Endpoint.url()}/images/og/default.png"}
      />
      <meta name="twitter:site" content="@algoraio" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={"#{assigns[:channel_name]} | Algora TV"} />
      <meta name="twitter:description" content={assigns[:channel_tagline]} />
      <meta property="og:image" content={"#{AlgoraWeb.Endpoint.url()}/images/og/default.png"} />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="og:site_name" content="Algora TV" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content={"#{assigns[:channel_name]} | Algora TV"} />
      <meta property="og:url" content={"#{AlgoraWeb.Endpoint.url()}/#{assigns[:channel_handle]}"} />
      <meta property="og:description" content={assigns[:channel_tagline]} />
    <% else %>
      <meta
        name="description"
        content="Algora TV is an interactive livestreaming & video sharing service for developers."
      />
    <% end %>

    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer data-domain="tv.algora.io" src="https://plausible.io/js/script.js">
    </script>
  </head>
  <body>
    <div
      class="fixed inset-x-0 -top-[69%] z-0 flex transform justify-center overflow-hidden blur-3xl"
      aria-hidden="true"
    >
      <div
        class="w-screen h-[150vh] flex-none bg-gradient-to-b from-gray-900 to-gray-950 opacity-75 transition-opacity"
        style="clip-path: polygon(70.71% 100%, 100% 70.71%, 100% 0%, 70.71% 0%, 29.29% 0%, 0% 0%, 0% 70.71%, 29.29% 100%)"
      >
      </div>
    </div>
    <div
      class="fixed inset-x-0 -top-[5%] z-0 flex transform justify-center overflow-hidden blur-3xl"
      aria-hidden="true"
    >
      <div
        class="w-screen h-[100vh] flex-none bg-gradient-to-r from-purple-900 to-violet-950 opacity-10 transition-opacity"
        style="clip-path: polygon(5.5% 13%, 52.75% 0%, 100% 13%, 100% 100%, 0% 100%)"
      >
      </div>
    </div>
    <div class="relative mt-[64px]">
      <div
        id="navbar"
        phx-hook="NavBar"
        class="fixed z-30 top-0 w-full transition-colors flex gap-4 items-center justify-between h-[56px] px-4"
      >
        <div class="flex items-center gap-4">
          <button
            type="button"
            aria-expanded="false"
            aria-controls="mobile-sidebar"
            class="-ml-2 p-2 text-white focus:outline-none focus:bg-white/10 rounded-full"
            phx-click={show_mobile_sidebar()}
          >
            <span class="sr-only">Open sidebar</span>
            <Heroicons.bars_3 class="h-6 w-6" />
          </button>
          <.logo class="w-16 h-auto hidden sm:flex" />
        </div>
        <div class="flex sm:pr-[6vw] font-medium text-gray-300 text-sm items-center gap-1">
          <div>Built with</div>
          <a href="https://elixir-lang.org">
            <img src={~p"/images/elixir.png"} alt="Elixir" class="shrink-0 mb-1 h-5 mx-auto" />
          </a>
          <div>and</div>
          <a href="https://www.tigrisdata.com">
            <img src={~p"/images/tigris.svg"} alt="Tigris" class="shrink-0 mt-2 h-4 mx-auto" />
          </a>
        </div>

        <%= if @current_user do %>
          <div class="shrink-0 hidden sm:block">
            <.simple_dropdown id="navbar-account-dropdown">
              <:img src={@current_user.avatar_url} alt={@current_user.handle} />
              <:link navigate={channel_path(@current_user)}>Channel</:link>
              <:link navigate={~p"/channel/settings"}>Settings</:link>
              <:link href={~p"/auth/logout"} method={:delete}>Sign out</:link>
            </.simple_dropdown>
          </div>
        <% else %>
          <.link
            navigate="/auth/login"
            class="hidden sm:flex rounded px-4 py-2 overflow-hidden group bg-purple-500 relative hover:bg-gradient-to-r hover:from-purple-500 hover:to-purple-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-purple-400 transition-all ease-out duration-300"
          >
            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease">
            </span>
            <span class="relative font-semibold text-sm">Login</span>
          </.link>
        <% end %>
      </div>
      <%= @inner_content %>
    </div>
  </body>
</html>
